In [95]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [96]:
path = r'C:\Users\kamal\OneDrive\Desktop\Georgetown\Keepa Extract.xlsx'

In [97]:
inp = pd.read_excel(path, index = False)

In [115]:
inp.head(5)

,productType,asin,author,availabilityAmazon,binding,brand,buyBoxSellerIdHistory,categoryTree_0,categoryTree_1,categoryTree_2,...,trackingSince,type,upc,upcList,variationCSV,variations,amazon_price,marketplace_new_price,marketplace_used_price,sales_rank
0,1,B07B3JQZCL,Michelle Obama,0,Audible Audiobook,NaN,NaN,Books,Subjects,Biographies & Memoirs,...,3765508,9,0,NaN,NaN,NaN,-1,-1,-1,79
1,0,B07JHVJ5SC,Sudipta Bardhan-Quallen,-1,Kindle Edition,NaN,NaN,Books,Subjects,Children's Books,...,4135600,10,0,NaN,NaN,NaN,-1,3094,-1,1
2,0,B00XJ108I6,Alan Forbes,-1,Kindle Edition,NaN,NaN,Books,Subjects,Computers & Technology,...,4079996,10,0,NaN,NaN,NaN,-1,698,-1,2
3,0,1524763136,Michelle Obama,0,Hardcover,AMERICAN WEST BOOKS,NaN,Books,Subjects,Biographies & Memoirs,...,3762476,0,0,NaN,NaN,NaN,1788,1850,1400,3568
4,0,0735219095,Delia Owens,0,Hardcover,G.P. Putnam's Sons,NaN,Books,Subjects,Literature & Fiction,...,3836972,0,0,NaN,NaN,NaN,1670,1161,1176,32

In [99]:
from sklearn.preprocessing import LabelEncoder

In [101]:
inp['binding'].unique()

array(['Audible Audiobook', 'Kindle Edition', 'Hardcover', 'Paperback',
       'Comic', nan, 'Board book', 'Wine', 'Mass Market Paperback',
       'Diary', 'Cards', 'Spiral-bound', 'Journal', 'Misc. Supplies',
       'Calendar', 'Imitation Leather', 'Hardcover-spiral', 'Plastic Comb',
       'Toy', 'Baby Product', 'Flexibound', 'Perfect Paperback',
       'Audio CD', 'Pamphlet', 'Leather Bound', 'Stationery', 'Bookmark',
       'Loose Leaf', 'Map', 'Single Issue Magazine', 'Electronics', 'Game',
       'Library Binding', 'Bonded Leather', 'DVD', 'Sheet music',
       'Staple Bound', 'Bath Book', 'Ring-bound', 'Print Magazine',
       'Accessory', 'Print on Demand (Paperback)', 'Software Download',
       'Office Product', 'Vinyl Bound', 'MP3 CD', 'Textbook Binding',
       'Pocket Book', 'Rag Book'], dtype=object)

In [103]:
inp['binding'].value_counts()

Audible Audiobook              9580
Paperback                      6454
Hardcover                      2936
Board book                      421
Mass Market Paperback           196
Cards                           133
Spiral-bound                    132
Imitation Leather                60
Calendar                         48
Pamphlet                         42
Diary                            40
Perfect Paperback                30
Map                              24
Misc. Supplies                   21
Hardcover-spiral                 20
Software Download                14
Plastic Comb                     12
Game                             12
Leather Bound                    10
Flexibound                        9
Stationery                        8
Single Issue Magazine             8
Kindle Edition                    7
Sheet music                       7
Journal                           6
Audio CD                          5
Loose Leaf                        5
Ring-bound                        5
Bookmark                          4
Staple Bound                      3
Bonded Leather                    3
Library Binding                   2
Bath Book                         2
Print Magazine                    2
Electronics                       2
Office Product                    2
Textbook Binding                  2
Comic                             2
DVD                               2
Toy                               2
Rag Book                          1
Baby Product                      1
MP3 CD                            1
Wine                              1
Print on Demand (Paperback)       1
Pocket Book                       1
Vinyl Bound                       1
Accessory                         1
Name: binding, dtype: int64

In [88]:
le = LabelEncoder()
inp['binding'].isnull().any().any()
# The binding has null values.

True

In [142]:
inp["binding"].fillna("No Information", inplace = True)
# Replacing missing values with "Hardcover"

In [143]:
inp['binding'].isnull().sum().sum()

0

In [144]:
inp['binding'] = le.fit_transform(inp['binding'])

In [145]:
inp['binding'].head(5)

0     1
1    20
2    20
3    16
4    16
Name: binding, dtype: int32

In [146]:
inp['type'].isnull().any().any()
# The book type doesn't have any null values.

False

In [111]:
inp['type']= le.fit_transform(inp['type'])

In [116]:
inp['sales_rank'].isnull().any().any()
# Sales rank doesn't have any null values.

False

In [118]:
inp['categoryTree_0'].isnull().any().any()

False

In [120]:
inp['categoryTree_0'].unique()

array(['Books', 'Home & Kitchen', 'Movies & TV'], dtype=object)

In [121]:
inp['categoryTree_0'] = le.fit_transform(inp['categoryTree_0'])

In [122]:
inp['categoryTree_0'].value_counts()
# There are three category but it does contain two different categories such as 'Home & Kitchen','Movies & TV'.

0    20295
2        1
1        1
Name: categoryTree_0, dtype: int64

In [131]:
inp['categoryTree_0'].value_counts()

0    20295
2        1
1        1
Name: categoryTree_0, dtype: int64

In [134]:
inp = inp[inp["categoryTree_0"]==0]

In [136]:
inp['categoryTree_0'].unique()
inp['categoryTree_0'].value_counts()
# Removed rows which are not part of books category.

0    20295
Name: categoryTree_0, dtype: int64

In [138]:
inp['categoryTree_1'].unique()
inp['categoryTree_1'].value_counts()
# There is no use of categoryTree_0 and categoryTree_1 because all the values are the same

Subjects    20295
Name: categoryTree_1, dtype: int64

In [140]:
inp['categoryTree_2'].value_counts()

Literature & Fiction                          3801
Children's Books                              2840
Self-Help                                     2522
Christian Books & Bibles                      1162
Biographies & Memoirs                         1123
Business & Money                              1030
Mystery, Thriller & Suspense                   887
Science Fiction & Fantasy                      876
Health, Fitness & Dieting                      782
Arts & Photography                             685
Cookbooks, Food & Wine                         615
History                                        447
Romance                                        442
Teen & Young Adult                             346
Humor & Entertainment                          330
Reference                                      317
Crafts, Hobbies & Home                         208
Science & Math                                 191
Computers & Technology                         162
Comics & Graphic Novels                        155
Religion & Spirituality                        150
Medical Books                                  139
Parenting & Relationships                      100
Politics & Social Sciences                      97
Travel                                          95
Education & Teaching                            75
Engineering & Transportation                    46
Lesbian, Gay, Bisexual & Transgender Books      46
Sports & Outdoors                               43
Law                                             38
Test Preparation                                32
Calendars                                        5
Name: categoryTree_2, dtype: int64

In [148]:
inp['categoryTree_2'].isnull().sum().sum()

0

In [149]:
inp["categoryTree_2"].fillna("No Information", inplace = True)
inp['categoryTree_2'] = le.fit_transform(inp['categoryTree_2'])
# Applied Label encoding for the category tree_2 and replaced null values with No Information

In [150]:
inp['categoryTree_3'].isnull().sum().sum()

1260

In [152]:
inp['categoryTree_3'].fillna("No further Info", inplace = True)
inp['categoryTree_3'] = le.fit_transform(inp['categoryTree_3'])
# Replaced all the categoryTree_3 genre values with no further info.

In [154]:
inp['categoryTree_4'].isnull().sum().sum()
inp['categoryTree_4'].fillna("No further classification", inplace = True)
inp['categoryTree_4'] = le.fit_transform(inp['categoryTree_4'])
# Replaced all the categoryTree_4 genre values with no further classification provided.

In [155]:
inp['brand'].isnull().sum().sum()
# For more than half of rows the information about the brand or publishing house is not provided.

13226

In [156]:
inp['brand'].fillna('Independent Brand/Publisher', inplace = True)
inp['brand'] = le.fit_transform(inp['brand'])
# Replaced the missing values with Independent Brand/Publisher.

In [158]:
inp['brand'].value_counts().head(5)

1145    13226
2373      198
1037      184
9         145
1918       92
Name: brand, dtype: int64